#define IDR_MENU 1000
#define IDM_FILE 1001
#define IDM_FILE_OPEN 1003
#define IDM_FILE_SAVEAS 1013
#define IDM_FILE_QUIT 1002
#define IDM_DOC_SAVEKHELP 1017
#define IDM_DOC_NEW 1018
#define IDM_DOC_IMPORTKHELP 1019
#define IDM_DOC_IMPORTTEXT 1021
#define IDM_SCOPE_TOPIC 1005
#define IDM_SCOPE_DOC 1006
#define IDM_OPT_TOP 1008
#define IDM_OPT_FONT 1015
#define IDM_BOOKMARKS_MANAGE 1012
#define IDM_HELP_HELP 1010
#define IDM_HELP_KEYS 1014
#define IDM_HELP_ABOUT 1011
#define ID_CONTENTS 2000
#define ID_TREEVIEW 2001
#define ID_PANEL 3000
#define ID_BTN_HOME 3001
#define ID_BTN_BACK 3002
#define ID_BTN_PREV 3003
#define ID_BTN_NEXT 3004
#define ID_CBO_SEARCH 3005
#define ID_BTN_SEARCH 3006
#define ID_BTN_BOOKMARK 3007
#define ID_BTN_ANNOTATE 3008
#define ID_STATIC 3009
#define ID_BTN_ANNOTATED 3010
#define ID_SPLITCUR 10
#define ID_JACKAL 11
#define ID_CLIP 12
#define IDR_ACCEL 1
#define ID_KEY_FIND 10
#define ID_KEY_END 11
#define ID_KEY_DOWNLN 12
#define ID_KEY_UPLN 13
#define ID_KEY_PGDN 14
#define ID_KEY_PGUP 15
#define ID_NOTES 1000
#define ID_BTN_DELETENOTE 1003
#define ID_BTN_COPYNOTE 1002
#define ID_BTN_PASTENOTE 1004
#define ID_BTN_SAVENOTE 1005
#define ID_EDT_NOTES 1001
#define ID_ABOUT 4000
#define ID_EDT_ABOUT 4001
#define ID_BOOKMARKS 1100
#define ID_BOOKMARKS_LST 1001
#define ID_BOOKMARK_BTNDELETE 1002
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&Open...\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "&Save As...",IDM_FILE_SAVEAS
    MENUITEM "&Quit\tAlt+F4",IDM_FILE_QUIT
  END
  POPUP "&Document",1016
  BEGIN
    MENUITEM "Save A  Copy...",IDM_DOC_SAVEKHELP
    MENUITEM "",1020,0x00000800
    MENUITEM "New...",IDM_DOC_NEW
    MENUITEM "Import kHelp...",IDM_DOC_IMPORTKHELP
    MENUITEM "Import Text...",IDM_DOC_IMPORTTEXT
  END
  POPUP "&Options",1004
  BEGIN
    POPUP "&Search Scope",1007
    BEGIN
      MENUITEM "Topic",IDM_SCOPE_TOPIC
      MENUITEM "Document",IDM_SCOPE_DOC
    END
    MENUITEM "&Top Window\tCtrl+T",IDM_OPT_TOP
    MENUITEM "&Font...",IDM_OPT_FONT
  END
  POPUP "&Bookmarks"
  BEGIN
    MENUITEM "Manage Bookmarks\tCtrl+B",IDM_BOOKMARKS_MANAGE
    MENUITEM "",,0x00000800
  END
  POPUP "&Help",1009
  BEGIN
    MENUITEM "&kHelp\tF1",IDM_HELP_HELP
    MENUITEM "&Keyboard Shortcuts",IDM_HELP_KEYS
    MENUITEM "",,0x00000800
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
ID_CONTENTS DIALOGEX 6,5,103,164
CAPTION "Contents"
FONT 8,"MS Sans Serif",0,0
STYLE 0x40C00000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",ID_TREEVIEW,"SysTreeView32",0x50010423,0,0,106,170,0x00000200
END
ID_PANEL DIALOGEX 6,5,404,32
FONT 8,"MS Sans Serif",0,0
STYLE 0x40020010
BEGIN
  CONTROL "Home",ID_BTN_HOME,"Button",0x50010000,2,1,23,13
  CONTROL "Back",ID_BTN_BACK,"Button",0x50010000,28,1,23,13
  CONTROL "Prev",ID_BTN_PREV,"Button",0x50010000,54,1,23,13
  CONTROL "Next",ID_BTN_NEXT,"Button",0x50010000,80,1,23,13
  CONTROL "",ID_CBO_SEARCH,"ComboBox",0x50110002,110,1,92,70
  CONTROL "Search",ID_BTN_SEARCH,"Button",0x58010000,204,1,28,13
  CONTROL "",0,"Static",0x50000011,106,1,0,14
  CONTROL "",0,"Static",0x50000011,236,1,0,14
  CONTROL "Bookmark",ID_BTN_BOOKMARK,"Button",0x50010000,272,1,36,13
  CONTROL "Note",ID_BTN_ANNOTATE,"Button",0x58010000,240,1,28,13
  CONTROL "",ID_STATIC,"Static",0x5000000C,4,18,198,11
  CONTROL "",ID_BTN_ANNOTATED,"Button",NOT 0x10000000|0x40018080,206,17,14,13
  CONTROL "",0,"Static",0x50000010,2,14,306,2
END
ID_SPLITCUR CURSOR DISCARDABLE "SplitV.cur"
ID_JACKAL ICON DISCARDABLE "jakal.ico"
ID_CLIP BITMAP DISCARDABLE "clip.bmp"
IDR_ACCEL ACCELERATORS
BEGIN
  79,IDM_FILE_OPEN,VIRTKEY,CONTROL,NOINVERT
  36,ID_BTN_HOME,VIRTKEY,NOINVERT
  8,ID_BTN_BACK,VIRTKEY,NOINVERT
  33,ID_BTN_PREV,VIRTKEY,NOINVERT
  34,ID_BTN_NEXT,VIRTKEY,NOINVERT
  45,ID_KEY_FIND,VIRTKEY,NOINVERT
  35,ID_KEY_END,VIRTKEY,NOINVERT
  40,ID_KEY_DOWNLN,VIRTKEY,NOINVERT
  38,ID_KEY_UPLN,VIRTKEY,NOINVERT
  39,ID_KEY_PGDN,VIRTKEY,NOINVERT
  37,ID_KEY_PGUP,VIRTKEY,NOINVERT
  84,IDM_OPT_TOP,VIRTKEY,CONTROL,NOINVERT
  112,IDM_HELP_HELP,VIRTKEY,NOINVERT
  114,ID_BTN_SEARCH,VIRTKEY,NOINVERT
  66,IDM_BOOKMARKS_MANAGE,VIRTKEY,CONTROL,NOINVERT
  27,IDM_FILE_QUIT,VIRTKEY,NOINVERT
END
ID_NOTES DIALOGEX 6,6,213,146
CAPTION "Notes"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C40000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Delete",ID_BTN_DELETENOTE,"Button",0x58010000,182,94,29,15
  CONTROL "Cancel",2,"Button",0x50010000,182,131,29,15
  CONTROL "Copy",ID_BTN_COPYNOTE,"Button",0x50010000,182,38,30,15
  CONTROL "Paste",ID_BTN_PASTENOTE,"Button",0x50010000,182,57,29,15
  CONTROL "Save",ID_BTN_SAVENOTE,"Button",0x58010000,182,3,30,15
  CONTROL "",ID_EDT_NOTES,"Edit",0x50211084,2,1,176,144,0x00000200
END
ID_ABOUT DIALOGEX 6,5,158,88
CAPTION "About kHelp"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C30000
EXSTYLE 0x00000080
BEGIN
  CONTROL "OK",1,"Button",0x50010000,58,70,42,15
  CONTROL "",ID_EDT_ABOUT,"Edit",0x50010004,8,3,140,59,0x00000200
END
ID_BOOKMARKS DIALOGEX 6,6,179,80
CAPTION "Bookmarks"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C70000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",ID_BOOKMARKS_LST,"ListBox",0x50110141,4,1,132,76,0x00000200
  CONTROL "OK",1,"Button",0x58010000,142,5,34,13
  CONTROL "Delete",ID_BOOKMARK_BTNDELETE,"Button",0x58010000,142,22,34,13
  CONTROL "Cancel",2,"Button",0x50010000,142,38,34,13
END
